<% layout("/layouts/boiler") %>
  <div class="row mt-2">
    <div class="col-8 offset-3">
      <h2> <b>
          <%=listing.title %>
        </b></h2>
    </div>
    <div class="listing-card col-6 offset-3">
      <img src="<%=listing.image.url %>" class="card-img-top show-img" alt=" ...">

      <div class="card-body">
        <p class="card-text">
          <!-- <b><%=listing.title %></b>  -->
          <b><i>
              <%=listing.owner.username%>
            </i></b> <br>
          <%=listing.desc%> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <br>
              <%= listing.location %> <br>
                <%= listing.country %><br>
                <%= listing.genre %>
        </p>

        <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
          <div class=" btns">
            <form method="post" action="/listings/<%= listing._id %>/delete">
              <button class="btn btn-danger">DELETE</button>
            </form>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark"> Edit </a>
          </div>
          <% } %>
      </div>
      <div>
      </div>
    </div>


    <div class="col-6 offset-3 mb-3">
    
      <legend>leave a comment:</legend>
      <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">

        <div class="mb-3 mt-3 ">
          <label class="form-label" for="rating"> Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
              aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" /> 
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>


        </div>


        <div class="mb-3 mt-3">
          <label class="form-label" for="comment"> comment</label>
          <textarea type="text" class="form-control" name="review[comment]" id="comment" cols="25" rows="5"
            required></textarea>
          <div class="invalid-feedback"> please Add some comment </div>

        </div>
        <button class="btn btn-outline-dark"> submit</button>
      </form>

      <!-- showing all reviews -->

      <div class="all-Reviews ">
        <h4> All reviews </h4>
        <div class="row ">
          <% for(review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-4">
              <div class="card-body">
                <div class="card-title"><b> <i>@<%= review.author.username %> </i></b></div>

                <div class="card-text">
                  <p class="starability-result" data-rating="<%= review.rating %>">
                  </p>
                </div>
                <div class="card-text">

                  <%= review.comment %>
                </div>

              </div>
              <% if(currUser && currUser._id.equals(review.author._id)) { %>
                <form action="/listings/<%= listing._id %>/reviews/<%=review._id %>?_method=DELETE" method="post">
                  <button class="btn btn-sm btn-outline-danger"> Delete</button>
                </form>
                <% } %>
            </div>
            <% } %>
        </div>                                                                       
        <h3>where you will be ! </h3>
        <iframe src="https://maps.google.com/maps?q=<%= listing.location%><%= listing.country%>&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width=800 height=270 allowfullscreen></iframe>
      </div>
    </div>
